{% extends 'base.html' %}

{% block content %}

<div class="auth-form-container">
    <form class="auth-form primary-fc" action="#" method="POST">
        {% csrf_token %}
        <h1>Registration</h1>
        <label for="id_username">Username:</label>
        <input type="text" name="username" id="id_username" maxlength="150">
        <label for="is_paddword1">Password:</label>
        <input type="password" name="password1" id="id_password1">
        <label for="is_paddword2">Confirm Password:</label>
        <input type="password" name="password2" id="id_password2">
        <input class="pointer" type="submit" value="Submit">
        <p>Already have an account?<a href={% url 'login' %}> Click here to login!</a></p>
    </form>
</div>

{% endblock content %}