/* =========== *
 *  CSS RESET  *
 * =========== */
* {
    margin: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
}

/* ============== *
 *  Highlight.js  *
 * ============== */
.hljs {
    background: var(--secondary-background-color); 
}

.hljs-ln-numbers {
    padding-right: 1rem !important;
}

/* ======== *
 *  Global  *
 * ======== */
:root {

}