@import url('https://fonts.googleapis.com/css2?family=Exo:wght@100&family=Inconsolata&family=Lacquer&family=Montserrat+Alternates:wght@300&display=swap');

/* =========== *
 *  CSS RESET  *
 * =========== */
* {
    margin: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
}

/* ============== *
 *  Highlight.js  *
 * ============== */
.hljs {
    background: red; 
}

.hljs-ln-numbers {
    padding-right: 1rem !important;
}

/* ======== *
 *  Global  *
 * ======== */
:root {
    /* Font */
    --primary-font: 'Monts1errat Alternates', sans-serif;
}

* {
    font-family: var(--primary-font);
}