{% load static %}
<nav class="flex margin-bottom-gap bar-bg-col">
    <img class="logo-img nav-item" src={% static 'images/python-logo.png' %} alt="">
    <h1 class="nav-item primary-fc text-center">django paste</h1>
    <a href={% url 'upload' %} class="nav-item text-center">New Paste</a>
    <a href="#" class="nav-item text-center">About</a>
    <div class="dropdown nav-item text-center">
        <a id="account-nav" href="#" style="display: block;" class="dropdown-toggle primary-fc">Account ></a>
        <div class="dropdown-menu width-100">
            {% if user.is_authenticated %}
                <a href={% url 'logout' %} class="dropdown-item">Log Out</a>
            {% else %}
                <a href={% url 'login' %} class="dropdown-item">Log In</a>
                <a href={% url 'register' %} class="dropdown-item">Register</a>
            {% endif %}
        </div>
    </div>
</nav>