{% extends 'base.html' %}

{% block content %}
    <div id="paste-home-container" class="grid">
        <div class="flex justify-center">
            <div id="paste-form-container" class="flex justify-center bar-bg-col primary-fc">
                <form action="">
                    {% csrf_token %}
                    {{ form }}
                    <textarea class="bg-input-col border-radius-half borderless no-outline" name="body" id="" cols="30" rows="10"></textarea>
                </form>
            </div>
        </div>
        <div id="recent-pastes" class="bar-bg-col primary-fc">
            <h2 class="text-vertical">Recent Pastes</h2>
        </div>
    </div>
{% endblock %}