{% extends 'base.html' %}

{% block content %}
    <div id="paste-home-container" class="grid">
        <div class="flex justify-center">
            <div id="paste-form-container" class="flex justify-center bar-bg-col primary-fc">
                <form action="">
                    {% csrf_token %}
                    {{ form }}
                </form>
            </div>
        </div>
        <div id="recent-pastes" class="bar-bg-col primary-fc">
            Recent
        </div>
    </div>
{% endblock %}