{% extends 'base.html' %}
{% block content %}
    <div id="paste-home-container" class="grid width-100">
        <div id="news" class="side-bar left bar-bg-col primary-fc">
            <h2 class="text-vertical text-center">Global Pastes</h2>
        </div>
        <div id="paste-form-container-wrapper" class="flex justify-center">
            <!-- Block for wrapping content of the current paste view -->
            {% block primary_content %}
            {% endblock primary_content %}
        </div>
        <div id="recent-pastes" class="side-bar right bar-bg-col primary-fc">
            {% include 'recent_pastes_widget.html' %}
        </div>
        <div id="news" class="side-bar left bar-bg-col primary-fc">
            <h2 class="text-vertical">News</h2>
        </div>
    </div>
{% endblock %}